<!DOCTYPE html>
<html>

<head>
    <title>MQTT Messages</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: "/get_latest_message",
                    type: "GET",
                    success: function (data) {
                        $("#temperature").text(data.message.temperature);
                        $("#luminosity").text(data.message.luminosity);
                    }
                });
            }, 1000);
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#led-toggle-btn").click(function() {
                var currentStatus = $(this).data("status");

                if (currentStatus === "on") {
                    sendCommand("/botao", "0", "Turn LED On");
                    $(this).data("status", "off");
                } else {
                    sendCommand("/botao", "1", "Turn LED Off");
                    $(this).data("status", "on");
                }
            });

            function sendCommand(topic, msg, buttonText) {
                var command = { "topic": topic, "msg": msg };

                $.ajax({
                    type: "POST",
                    url: "/publish",
                    contentType: "application/json",
                    data: JSON.stringify(command),
                    success: function() {
                        console.log("Command sent successfully");
                        $("#led-toggle-btn").text(buttonText);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error sending command: " + error);
                    }
                });
            }
        });
    </script>
</head>

<body>
    <h1>MQTT Messages</h1>
    <h3>Temperature: <span id="temperature"></span></h3>
    <h3>Luminosity: <span id="luminosity"></span></h3>
    <button id="led-toggle-btn">Toggle LED</button>
</body>

</html>